/* TAGS */

body, body *{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(248, 248, 248);
    color: rgb(46, 46, 46);
}
a{
    text-decoration: none;
    color: black;
}
header, footer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.87) 10%, black 80%), url('../imagens/headerbg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
}
header{
    height: 40%;
}
header nav{
    width: 100%;
    background-color:rgb(6, 6, 24);
    color: rgb(190, 190, 190);
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight:500;
}
header nav ul:not(.inner-list){
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    display: inline-block;
    border: 2px dotted transparent;
    min-width: 8%;
    margin: 2vh 0;
    text-align: center;
    transition: all .4s;
}
header ul li:hover{
    color: white;
    border-bottom: 2px dotted rgb(28, 26, 145);
    cursor: pointer;
}
header ul li.has-intern{
    border-bottom: transparent;
}
nav .inner-list li{
    display: block;
    color: rgb(95, 95, 95);
    text-transform: none;
    margin: 0;
    padding: 1.5vh 0 0 0;
}
footer{
    width: 100%;
    height: 10vh;
    margin-top: 10vh;
}
footer ul{
    list-style: none;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}
footer ul li{
    display: inline-block;
    font-size: 1.2em;
}
footer span{
    color: white;
    transition: color .4s;
}
footer a span:hover{
    color: rgb(0, 255, 234);
}
footer a{
    text-decoration: none;
}
header p{
    font-family: sans-serif;
    font-size: 5vw;
    color: white;
    width: 80%;
}
header img{
    display: inline-block;
    width: 12%;
    border-radius: 50%;
    margin: 1% 0 1% 4%;
}
header p{
    text-align: center;
}
article{
    margin-bottom: 10%;
}
section{
    width: 70%;
    margin: auto;
}
section{
    font-size: 1.2em;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(30, 30, 49);
    font-size: 3em;
    margin: 5% 0;
    text-align: center;
    font-variant: small-caps;
}

h2{
    color: rgb(47, 47, 87);
    font-size: 2em;
    margin: 3% 0;
}
table{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    font-family: 'sans-serif';
    box-shadow: 0px 0px 10px black;
}
table td, table th{
    border: 1px solid rgb(139, 139, 139);
    padding: 2% 1%;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}
table td{
    font-size: 1em;
    color: rgb(66, 26, 26);
}
table tbody tr:hover{
    background-color:rgb(235, 235, 235);
}
table tr{
    background-color: rgb(255, 255, 255);
}
table th:first-child, table td:first-child{
    text-align: center;
    width: 30%;
}
thead tr{
    border-bottom: 2px solid rgb(119, 119, 119);
    background-color: rgb(179, 215, 241);
    color: rgb(31, 31, 31);
}

/* CLASSES */
.curriculum{
    text-align: center;
    margin: 10%;
    font-size: 1.5em;
}
.curriculum a{
    color:rgb(11, 19, 54);
    border-bottom: dotted 2px rgb(0, 168, 154);
    transition: all .3s;
}
.curriculum a:hover{
    color:rgb(0, 116, 106);
    border-bottom: dotted 2px transparent;
}
.hidden{
    display: none;
}
.inner-list{
    display: none;
}
.dp-block{
    display: block;
}
.blue{
    background-color:rgb(163, 199, 230);
    background-blend-mode: darken;
}
.red{
    background-color: rgb(231, 173, 173);
}
.green{
    background-color: rgb(206, 255, 196);
}
.header-main-div{
    display: flex;
    align-items: center;
}
.master{
    display: flex;
    justify-content: space-evenly;
}
.master p{
    font-size: 1.7em;
}
.master div{
    text-align: center;
    width: 30%;
}
.btn{
    padding: 1%;
    border-radius: 10px;
    font-size: 1em;
    width: 80%;
    margin: 3% auto;
    color: rgb(59, 59, 59);
}
.pressed{
    box-shadow: 0 0 15px rgb(0, 0, 0);
    border: 2px rgb(0, 0, 0) solid;
    color: rgb(0, 0, 0);
}

/* IDs */
#certificate{
    text-align: center;
    font-size: 1.5em;
}
#certificate img{
    width: 75%;
    margin: 2% auto;
    box-shadow: 0 0 30px black;
    border-radius: 20px;
}
#certificate a{
    text-decoration: none;
    border-bottom: 3px dotted rgb(26, 160, 165);
    color: black;
    transition: all .6s;
}

#certificate a:hover{
    border-bottom: 3px dotted transparent;
    color: rgb(14, 89, 92);
}